[Unit]
Description=CoreDNS Server
PartOf=media.pod
After=media.pod

[Container]
Pod=main.pod
ContainerName=dns
Image=docker.io/coredns/coredns:latest

Volume=./Corefile:/Corefile:ro,Z
Volume=./blocklist.hosts:/etc/coredns/blocklist.hosts:ro,Z

EnvironmentFile=.env

[Service]
Restart=always
CPUWeight=50
