[Unit]
Description=Caddy
PartOf=main.pod
After=main.pod

[Container]
Pod=main.pod
ContainerName=caddy

Image=localhost/caddy:latest
AutoUpdate=local

Volume=./Caddyfile:/etc/caddy/Caddyfile:Z
Volume=%h/caddy/data:/data:Z
Volume=%h/caddy/config:/config:Z
Volume=%h/caddy/www:/srv:Z

EnvironmentFile=%h/homelab/.env

[Service]
Restart=always
CPUWeight=200
