{
    log {
	output stdout
        level DEBUG
    }
}

# ACL block

(local_only) {
    @blocked not remote_ip 10.0.0.0/8 100.64.0.0/10 {env.IPV6_PREFIX}::/64
    header @blocked Content-Type text/html
    respond @blocked `<html><body><h1>403 Forbidden</h1></body></html>` 403
}

# ---- Public ----

rinha-leaderboard.loty.click {
    redir https://rinhadebackend.com.br/ 302
}

immich.loty.click {
    reverse_proxy host.containers.internal:2283
}

pocket-planner.loty.click {
    reverse_proxy host.containers.internal:8081
}

jellyfin.loty.click {
    reverse_proxy host.containers.internal:8096
}

qbit.loty.click {
    reverse_proxy host.containers.internal:8080
}

# ---- local/vpn ----

dev.loty.click {
    import local_only
    reverse_proxy 10.0.0.5:9000
}

cockpit.loty.click {
    import local_only
    reverse_proxy https://host.containers.internal:9090 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

sonarr.loty.click {
    import local_only
    reverse_proxy host.containers.internal:8989
}

radarr.loty.click {
    import local_only
    reverse_proxy host.containers.internal:7878
}

prowlarr.loty.click {
    import local_only
    reverse_proxy host.containers.internal:9696
}

rtc.loty.click {
    import local_only
    reverse_proxy host.containers.internal:1984
}

filebrowser.loty.click {
    import local_only 
    reverse_proxy host.containers.internal:9100
}

authelia.loty.click {
    import local_only
    reverse_proxy host.containers.internal:9091
}

bazarr.loty.click {
    import local_only
    reverse_proxy host.containers.internal:6767
}

cam.loty.click {
    import local_only
    reverse_proxy host.containers.internal:5000
}

# ---- padel ----

padel.loty.click {
    import local_only
    reverse_proxy 100.83.118.3:8080
}

cam_padel.loty.click {
    import local_only
    reverse_proxy host.containers.internal:8200
}

# ---- catch all redirect ----

*.loty.click, loty.click {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    
    redir https://www.linkedin.com/in/lothyriel 302
}
