# we keep cloudflared container outside of main pod to avoid pasta MTU and VPN tunnel issues

[Unit]
Description=Cloudflared Tunnel
PartOf=main.pod
After=main.pod

[Container]
Image=docker.io/cloudflare/cloudflared:latest
ContainerName=cloudflared
EnvironmentFile=.env

Exec=tunnel --no-autoupdate run

[Service]
CPUWeight=150
