[Unit]
Description=Filebrowser
PartOf=main.pod
After=main.pod

[Container]
Pod=main.pod
ContainerName=filebrowser
Image=docker.io/filebrowser/filebrowser:s6

Environment=PUID=0
Environment=PGID=0

Volume=/home/jx/filebrowser/data:/srv:U
Volume=/media0:/srv/media:z
Volume=/home/jx/filebrowser/database:/database:U
Volume=/home/jx/filebrowser/config:/config:U

[Service]
Restart=always
CPUWeight=30
