[Unit]
Description=Jellyfin
PartOf=main.pod
After=main.pod

[Container]
Pod=main.pod
ContainerName=jellyfin
AddDevice=/dev/dri
Environment=TZ=America/Sao_Paulo
Environment=PUID=0
Environment=PGID=0
Image=lscr.io/linuxserver/jellyfin:latest
Volume=/media0:/media0:z
Volume=/media1:/media1:z
Volume=/home/jx/jellyfin/config:/config:Z

[Service]
Restart=always
CPUWeight=150
