[Unit]
Description=qBittorrent-nox
PartOf=main.pod
After=main.pod

[Container]
Pod=main.pod
ContainerName=qbit
Image=docker.io/qbittorrentofficial/qbittorrent-nox:latest
Volume=/home/jx/qbit/config:/config:Z
Volume=/media0:/media0:z
Volume=/media1:/media1:z
Environment=PUID=0
Environment=PGID=0

[Service]
Restart=always
CPUWeight=30
