[Unit]
Description=Rinha leaderboard
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=rinha-leaderboard
Image=ghcr.io/lothyriel/rinha_leaderboard:latest
AutoUpdate=registry

Volume=%h/rinha_leaderboard:/app/data:Z

EnvironmentFile=.rinha.env

PublishPort=3000:3000

[Service]
Restart=always
TimeoutStartSec=60
CPUWeight=50

[Install]
WantedBy=default.target
