[Unit]
Description=Stoat Push Daemon
PartOf=stoat-pod.service
After=stoat-pod.service stoat_database.service stoat_redis.service stoat_rabbit.service
Requires=stoat_database.service stoat_redis.service stoat_rabbit.service

[Container]
Pod=stoat.pod
ContainerName=stoat-pushd
Image=ghcr.io/stoatchat/pushd:v0.15.1
EnvironmentFile=.env
Volume=./Revolt.toml:/Revolt.toml:ro,Z

[Service]
ExecStartPre=/usr/bin/bash %h/homelab/quadlets/stoat/wait-for-rabbit.sh stoat-rabbit
Restart=always

[Install]
WantedBy=default.target
