[Unit]
Description=Stoat File Server
PartOf=stoat-pod.service
After=stoat-pod.service stoat_database.service stoat_createbuckets.service
Requires=stoat_database.service stoat_createbuckets.service

[Container]
Pod=stoat.pod
ContainerName=stoat-autumn
Image=ghcr.io/stoatchat/file-server:v0.15.1
EnvironmentFile=.env
Volume=./Revolt.toml:/Revolt.toml:ro,Z

[Service]
Restart=always

[Install]
WantedBy=default.target
