[Unit]
Description=Bazarr
PartOf=media.pod
After=media.pod

[Container]
Pod=media.pod
Image=lscr.io/linuxserver/bazarr:latest
ContainerName=bazarr
AutoUpdate=registry

Volume=%h/arr/bazarr:/config:Z
Volume=/data/media:/media:z

Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/Sao_Paulo

[Service]
Restart=always
CPUWeight=50
