[Unit]
Description=Byparr (Anti-bot bypass service for *arr stack)
PartOf=media.pod
After=media.pod

[Container]
Pod=media.pod
Image=ghcr.io/thephaseless/byparr:latest
ContainerName=byparr
AutoUpdate=registry

Environment=TZ=America/Sao_Paulo
Environment=LOG_LEVEL=INFO

[Service]
Restart=always
