[Unit]
Description=Filebrowser
PartOf=media.pod
After=media.pod

[Container]
Pod=media.pod
ContainerName=filebrowser
Image=docker.io/filebrowser/filebrowser:s6

Environment=PUID=0
Environment=PGID=0

Volume=%h/filebrowser/data:/srv:Z
Volume=/media0:/srv/media:z
Volume=%h/filebrowser/database:/database:Z
Volume=%h/filebrowser/config:/config:Z

[Service]
Restart=always
CPUWeight=30
