[Unit]
Description=Prowlarr
PartOf=media.pod
After=media.pod

[Container]
Pod=media.pod
Image=lscr.io/linuxserver/prowlarr:latest
ContainerName=prowlarr
AutoUpdate=registry

Volume=%h/arr/prowlarr:/config:Z

Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/Sao_Paulo

[Service]
Restart=always
CPUWeight=50
