[Unit]
Description=qBittorrent-nox
PartOf=media.pod
After=media.pod

[Container]
Pod=media.pod
ContainerName=qbit
Image=docker.io/qbittorrentofficial/qbittorrent-nox:latest
AutoUpdate=registry
Volume=%h/qbit/config:/config:Z
Volume=/data/media:/media:z
Environment=PUID=0
Environment=PGID=0
Environment=QBT_LEGAL_NOTICE=confirm

[Service]
Restart=always
CPUWeight=30
