[Unit]
Description=Sonarr
PartOf=media.pod
After=media.pod

[Container]
Pod=media.pod
Image=lscr.io/linuxserver/sonarr:latest
ContainerName=sonarr
AutoUpdate=registry

Volume=%h/arr/sonarr:/config:Z
Volume=/data/media:/media:z

Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/Sao_Paulo

[Service]
Restart=always
CPUWeight=50
