[Unit]
Description=Authelia
After=network-online.target
Wants=network-online.target
PartOf=main.pod

[Container]
Pod=main.pod
ContainerName=authelia
Image=docker.io/authelia/authelia:latest
AutoUpdate=registry
Volume=%h/authelia/config:/config:Z
Volume=./configuration.yml:/config/configuration.yml:Z
Environment=TZ=America/Sao_Paulo

[Install]
WantedBy=default.target
